---
import Styles from "../styles/index.module.pcss"
import Layout from '../layouts/Layout.astro';
import AnimateString from "../components/animateString";
import Header from "../components/Header";

import Project from "../components/Project"
---

<Layout title="Bennjmann Redman">
	<main>
		<Header/>
		<div id="hero" class={`container ${Styles.HeroContainer}`}>
			<div class={Styles.blurredColour}>
				<div/>
				<div/>
			</div>
			<div>
				<h1> <AnimateString client:only="react" className={Styles.firstName}  text="Bennjmann"/>
					<br/>
					<AnimateString client:only="react" className={Styles.lastName} text="Redman"/></h1>
				<p>I am a Developer</p>
			</div>
			<div>
				<button>Resume</button>
				<button>Contact me</button>
			</div>
		</div>

		<div id="about" class={`container ${Styles.introduction}`}>
				<div class={`area-one ${Styles.boxes}`}>
					<h2>Hello, call me Ben for short</h2>
					<div/>
					<div/>
					<div/>
				</div>
				<div class=`area-two ${Styles.about}`>
					<h3>About Me</h3>
					<p>
						Hello, my name is Bennjmann. You can call me Ben for short. I am a web developer from Sunshine Coast, QLD, and I am currently studying for a bachelor of information technology majoring in computer science at QUT.
					</p>
					<p>
						I've been using and creating with technology since I was a kid. It has become a passion and hobby, and I enjoy every bit of the process. I started my journey by making games in engines like Gamer Maker and Scratch.
						These sparked my interest in technology, and so I expanded my knowledge in the technology field by doing a Cert 3 in information and technology and a Cert 2 in Creative Industries at AIE.
						during this period I worked as a full-time construction material tester, which helped to expand my communication skills and gain an eye for producing quality results. Additionally, I gained a Cert 3 in Construction Material Testing.
						Now leading to my current day job of working as a web developer for the past 2 years and starting my studies for a bachelor's in Information and Technology, majoring in Computer Science  at QUT
					</p>
					<p>
						For a list of the skills i've gain throughout my studies and career Click Here
					</p>
				</div>
		</div>

		<div id="projects" class=`container ${Styles.projects}`>
			<h2>PROJECTS</h2>
			<div>
				<Project title="Cordwells Concrete" type="Gatsby">
					A Seven page website made for a Concrete Company located on the Sunshine Coast.
				</Project>
				<Project title="QCTesting" type="Gatsby">
					A Four Page website made a Construction Testing Company located on the Sunshine Coast.
				</Project>
				<Project title="CleanToDay" type="Next.js">
					A Seven Page website made for a Cleaning Company located in the Sunshine Coast.
				</Project>
				<Project title="This Website" type="Astro">
					A Single Page Application website made as a portfolio for myself to display my work and experience.
				</Project>

			</div>
		</div>

		<div id="skills" class=`container ${Styles.projects}`>
			<h2>SKILLS</h2>
			<div>

			</div>
		</div>

	</main>
</Layout>
