---
import Styles from "../styles/index.module.pcss"

import Layout from '../layouts/Layout.astro';
import AnimateString from "../components/animateString";
import Skill from "../components/Skill"
---

<Layout title="Bennjmann Redman">
	<main>
		<div class={Styles.sectionContainer}>
			<div>My name is</div>
			<h1> <AnimateString client:only="react" className={Styles.firstName}  text="Bennjmann"/>&nbsp;<AnimateString client:only="react" className={Styles.lastName} text="Redman"/></h1>
			<div>I am a Developer</div>
		</div>

		<div class={Styles.sectionText}>
			<p>
				Hello! My name is Bennjmann Redman you can call me Ben for short.
				Im a Developer who likes to work with a wide range of different technologies like high level languages such as Python to low level languages like C++ as well as use a wide range of frameworks like react or create games using engines like unity.
				I have a diverse range of knowledge over landscape of coding and want to explore even deeper.
			</p>
			<p>
				During my time working with these tool I’ve also picked up other skills like design and graphic design leading to developing skills with in tools adobe space of tools.
			</p>
		</div>

		<div class={Styles.sectionContainer}>
			<h2>My Skills</h2>
		</div>

		<div class={Styles.sectionText}>
			<div>
				<Skill title="HTML" alt="Skill img" rating={24} client:only="react" />
				<Skill title="CSS" alt="Skill img" rating={24} client:only="react" />
				<Skill title="JAVASCRIPT" alt="Skill img" rating={24} client:only="react" />
				<Skill title="TYPESCRIPT" alt="Skill img" rating={24} client:only="react" />
				<Skill title="C#" alt="Skill img" rating={24} client:only="react" />
				<Skill title="PYTHON" alt="Skill img" rating={24} client:only="react" />
				<Skill title="SQL" alt="Skill img" rating={24} client:only="react" />
				<Skill title="REACT" alt="Skill img" rating={24} client:only="react" />
			</div>
		</div>
	</main>
</Layout>
