---
import Styles from "../styles/index.module.pcss"
import Layout from '../layouts/Layout.astro';
import AnimateString from "../components/animateString";
import Skill from "../components/Skill"
import Project from "../components/Project";
import Header from "../components/Header";
---

<Layout title="Bennjmann Redman">
	<main>
		<Header/>
		<div class={Styles.sectionContainer} id="about">
			<div>My name is</div>
			<h1> <AnimateString client:only="react" className={Styles.firstName}  text="Ben"/>&nbsp;<AnimateString client:only="react" className={Styles.lastName} text="Redman"/></h1>
			<div>I am a Developer</div>
		</div>

		<div class={Styles.sectionText}>
				<p>
					Hello! I've worked with various tools to create websites, games and applications, which has given me a diverse skill set.
					Check out <a href="#skills">my Skills</a> For the list of technologies I've used over my careers, with hopefully more to come.
				</p>
				<p>
					I love learning new tools and creating new software.
					Learning the ins and outs of new technology is a passion, so I am expanding my interests by doing a Bachelor's in Information and Technology and majoring in computer science.
				<p/>
				<p>For any business enquires feel free to contact me  at : <mark>bennjmann.red@gmail.com</mark></p>
		</div>

		<div class={Styles.sectionContainer} id="projects">
			<h2>Projects</h2>
		</div>
		<div class={Styles.sectionContent}>
			<div class={Styles.projectsWrapper}>
				<Project client:only="react" alt="Project image" title="Cordwells Website"
						 type="Website" date={new Date()} link="https://cordwells.au/" src="/images/test.png">
					This is a Concrete company website featuring many different pages for display of products
					and about page with featuring a user capturing complex design. Built using Gatsby and Wordpress as the CMS
				</Project>
				<Project client:only="react" alt="Project image" title="QCTesting Website"
						 type="Website" date={new Date()} link="https://qctesting.au/" src="/images/test.png">
					This is a basic website featuring a low number of pages and a simplified layout providing the
					best viewing experience for the user. This website require special feature or required elements for their
					nata accreditation. Built using Gatsby
				</Project>
				<Project client:only="react" alt="Project image" title="Water Application"
						 type="Web Application" date={new Date()} link="http://localhost:4321/" src="/images/test.png">
					An web application used at QCTesting to keep records of their quarry's water testing built using Next.js
					in addition to other library's.
				</Project>
				<Project client:only="react" alt="Project image" title="Ecommerce Website"
						 type="Website" date={new Date()} link="http://localhost:4321/" github="./" src="/images/test.png">
					Basic ecommerce website showing off full SEO setup, shopify check out system and dynamic product pages
					as well as a user friendly layout.
				</Project>
			</div>
		</div>

		<div class={Styles.sectionContainer}>
			<h2>Skills and expertise</h2>
		</div>
		<p>Below is a List Of technologies, frameworks and coding languages i've used in the past</p>
		<div class={Styles.sectionContent} id="skills">
			<div class={Styles.skillsContainer}>
				<Skill title="HTML" src="../../images/HTML5.png" alt="Skill img" rating={100} client:only="react" />
				<Skill title="CSS" src="../../images/CSS3-logo.png" alt="Skill img" rating={85} client:only="react" />
				<Skill title="JAVASCRIPT" src="../../images/js-logo.png" alt="Skill img" rating={90} client:only="react" />
				<Skill title="TYPESCRIPT" src="../../images/ts-logo.png" alt="Skill img" rating={80} client:only="react" />
				<Skill title="C#" src="../../images/Csharp-Logo.png" alt="Skill img" rating={75} client:only="react" />
				<Skill title="PYTHON" src="../../images/python-icon.png" alt="Skill img" rating={75} client:only="react" />
				<Skill title="SQL" src="../../images/Sql-logo.png" alt="Skill img" rating={60} client:only="react" />
				<Skill title="REACT" src="../../images/React-icon.png" alt="Skill img" rating={70} client:only="react" />
				<Skill title="ASTRO" src="../../images/astro-icon-light.png" alt="Skill img" rating={40} client:only="react" />
				<Skill title="GATSBY" src="../../images/Gatsby-Monogram.png" alt="Skill img" rating={60} client:only="react" />
				<Skill title="WORDPRESS" src="../../images/WordPress-logo.png" alt="Skill img" rating={45} client:only="react" />
				<Skill title="PHOTOSHOP" src="../../images/Photoshop-icon.png" rating={40} client:only="react" />
				<Skill title="ILLUSTRATOR" src="../../images/Illustrator-icon.png" alt="Skill img" rating={50} client:only="react" />
				<Skill title="UNITY" src="../../images/Illustrator-icon.png" alt="Skill img" rating={75} client:only="react" />
			</div>
		</div>
	</main>
</Layout>
