---
import Styles from "../styles/index.module.pcss"
import Layout from '../layouts/Layout.astro';
import AnimateString from "../components/animateString";
import Skill from "../components/Skill"
import Card from "../components/Card.astro";
---

<Layout title="Bennjmann Redman">
	<main>
		<div class={Styles.sectionContainer} id="about">
			<div>My name is</div>
			<h1> <AnimateString client:only="react" className={Styles.firstName}  text="Bennjmann"/>&nbsp;<AnimateString client:only="react" className={Styles.lastName} text="Redman"/></h1>
			<div>I am a Developer</div>
		</div>

		<div class={Styles.sectionText}>
			<p>
				Hello! My name is Bennjmann Redman you can call me Ben for short.
				Im a Developer who likes to work with a wide range of different technologies like high level languages such as Python to low level languages like C++ as well as use a wide range of frameworks like react or create games using engines like unity.
				I have a diverse range of knowledge over landscape of coding and want to explore even deeper.
			</p>
			<p>
				During my time working with these tool I’ve also picked up other skills like design and graphic design leading to developing skills with in tools adobe space of tools.
			</p>
		</div>
		<div class={Styles.sectionContainer} id="projects">
			<h2>My projects and contributions</h2>
		</div>
		<div class={Styles.sectionContent}>
			<Card title="Project 1"/>
			<Card title="Project 2"/>
			<Card title="Project 3"/>
			<Card title="Project 4"/>
		</div>

		<div class={Styles.sectionContainer} id="contact">
			<h2>My services</h2>
		</div>

		<div class={Styles.sectionContent}>

			<p>For any enquires contact me  at : bennjmann.red@gmail.com</p>
		</div>

		<div class={Styles.sectionContainer}>
			<h2>Skills I've Gathered</h2>
		</div>

		<div class={Styles.sectionContent} id="skills">
			<p>Below is a List Of technologies, frameworks and coding languages i've used in the past</p>
			<div class={Styles.skillsContainer}>
				<Skill title="HTML" src="../../images/HTML5.png" alt="Skill img" rating={100} client:only="react" />
				<Skill title="CSS" src="../../images/CSS3-logo.png" alt="Skill img" rating={85} client:only="react" />
				<Skill title="JAVASCRIPT" src="../../images/js-logo.png" alt="Skill img" rating={90} client:only="react" />
				<Skill title="TYPESCRIPT" src="../../images/ts-logo.png" alt="Skill img" rating={80} client:only="react" />
				<Skill title="C#" src="../../images/Csharp-Logo.png" alt="Skill img" rating={75} client:only="react" />
				<Skill title="PYTHON" src="../../images/python-icon.png" alt="Skill img" rating={75} client:only="react" />
				<Skill title="SQL" src="../../images/Sql-logo.png" alt="Skill img" rating={60} client:only="react" />
				<Skill title="REACT" src="../../images/React-icon.png" alt="Skill img" rating={70} client:only="react" />
				<Skill title="ASTRO" src="../../images/astro-icon-light.png" alt="Skill img" rating={40} client:only="react" />
				<Skill title="GATSBY" src="../../images/Gatsby-Monogram.png" alt="Skill img" rating={60} client:only="react" />
				<Skill title="WORDPRESS" src="../../images/WordPress-logo.png" alt="Skill img" rating={45} client:only="react" />
				<Skill title="PHOTOSHOP" src="../../images/Photoshop-icon.png" rating={40} client:only="react" />
				<Skill title="ILLUSTRATOR" src="../../images/Illustrator-icon.png" alt="Skill img" rating={50} client:only="react" />
			</div>
		</div>
	</main>
</Layout>
